<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <!-- <ion-item *ngFor="let friend of friends" (click)="goToFriend(friend)" detail> -->
    <ion-item *ngFor="let person of friends" [routerLink]="['person']" [state]="{ person }" detail>
      <ion-avatar slot="start">
        <img [src]="person.avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{person.name}}</h2>
        <p>{{person.status}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>